.auth-form {
    max-width: 400px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #444; /* Thêm viền đậm hơn */
    box-shadow: 0px 4px 10px rgba(144, 141, 141, 0.2); /* Tăng độ đậm của bóng đổ */
    text-align: center;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form label {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .auth-form input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #666; /* Làm đậm hơn viền input */
    /* width: 100%; */
    margin-top: 5px;
  }
  
  .auth-form .form-actions {
    margin-top: 15px;
  }
  
  .auth-form p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .auth-form a {
    color: #64d2c6;
    text-decoration: none;
  }
  
  .auth-form a:hover {
    text-decoration: underline;
  }
  
  /* Nút đăng nhập */
  .btn-save {
    background-color: #64d2c6 !important;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    margin-top: 15px;
  }
  
  .btn-save:hover {
    background-color: #56b8b0 !important;
  }
  