<div class="container">
  <h2>Thêm Địa Điểm</h2>
  <div class="category-form">
    <form (ngSubmit)="saveLocation()">
      <label for="name">Tên địa điểm:</label>
      <input type="text" id="name" [(ngModel)]="location.name" name="name" required>

      <label for="description">Mô tả:</label>
      <textarea id="description" [(ngModel)]="location.description" name="description"></textarea>

      <label for="latitude">Vĩ độ:</label>
      <input type="number" id="latitude" [(ngModel)]="location.latitude" name="latitude" required>

      <label for="longitude">Kinh độ:</label>
      <input type="number" id="longitude" [(ngModel)]="location.longitude" name="longitude" required>

      <!-- Chọn tỉnh -->
      <label for="province">Chọn tỉnh:</label>
      <select id="province" [(ngModel)]="location.province" name="province" required>
        <option value="" disabled selected>Chọn tỉnh</option>
        <option *ngFor="let province of provinces" [ngValue]="province">{{ province.name }}</option>
      </select>

      <!-- Chọn danh mục (sử dụng select multiple) -->
      <label for="category">Chọn danh mục:</label>
      <select id="category" [(ngModel)]="location.categories" name="categories" multiple required>
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>

      <!-- Nhập URL ảnh -->
      <label for="images">Nhập link ảnh:</label>
      <textarea id="images" [(ngModel)]="imageUrls" name="imageUrls" placeholder="Mỗi ảnh 1 dòng" required></textarea>
      
      <div class="form-actions">
        <button type="submit" class="btn btn-save">Lưu</button>
        <button type="button" class="btn btn-cancel" routerLink="/admin/locations">Hủy</button>
      </div>
    </form>
  </div>

  <!-- Phần bản đồ -->
  <div id="map" style="height: 400px;"></div> 
</div>
